body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Create a column layout with Flexbox */
  .row {
    display: flex;
  }
  
  /* Left column (menu) */
  .left {
    flex: 5%;
    padding: 25px 0;
  }
  
  .left h2 {
    padding-left: 30px;
  }
  
  /* Right column (page content) */
  .right {
    flex: 65%;
    padding: 15px;
  }
  
  
  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myMenu li a {
   
    padding: 30px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }

  .box{
    background-color : lightgrey;
    width :700px;
    border : 25px solid green;
    padding : 25px;
    margin : 25px;
}

.col-xs-6{
    background-color : lightblue;
    width :500px;
    height : 400px;
    border : 10px double darkblue;
    padding : 25px;
    margin : 25px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}